#jumbotron{
	position: relative;
	background-image:url('Warrenlowres.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 1400px;
	width: 1800px;	
}

#header {
	background-color: #00CC00;
	height: 160px;
	width: 100%;
	top: 0;
	left: 0;
	color: white;
	overflow-x: hidden;
}

/* notes for myself */

#headerText {
	position: relative;
	text-align: center;
	top:30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 40px;

}
#testButton{
	position: relative;
	height: 100px;
	width: 200px;
	background-color: red;
	border-radius: 5px;
	left:490px;
}


#menubar {
	position: relative;
	top: 1800px;
	left:450px;
	z-index: 1;
}

.horizBar {
	position: absolute;
	top:1600px;
	width: 100%;
	height: 100px;
	background-color: green;
	opacity: 0.4;
	z-index: 0;

}

#footer{
	background-color: orange;
	height: 120px;
	margin-top: 400px;

}
#footer #trademark{
	color: white;
	text-align: center;

}


#homeButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 20px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #7ed934;
  padding: 10px 20px 10px 20px;
  border: solid #478c1f 2px;
  text-decoration: none;

  text-align: center;
  height: 35px;
  width: 60px;
}

#homeButton:hover {
  background: #fc3c3c;
  text-decoration: none;
}

#aboutButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 20px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #7ed934;
  padding: 10px 20px 10px 20px;
  border: solid #478c1f 2px;
  text-decoration: none;

	position:relative;
	left:200px;
	top: -58px;

  text-align: center;
  height: 35px;
  width: 60px;
}

#aboutButton:hover {
  background: #fc3c3c;
  text-decoration: none;
}
#contactButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 20px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #7ed934;
  padding: 10px 20px 10px 20px;
  border: solid #478c1f 2px;
  text-decoration: none;

	position:relative;
	left:400px;
	top: -116px;

  text-align: center;
  height: 35px;
  width: 90px;
}

#contactButton:hover {
  background: #fc3c3c;
  text-decoration: none;
}
